

















































































































































































































































































































/* Tweaks to dropdowns to make them smaller. */
.Dropdown[data-v-e942e912] .v-input__slot {
  min-height: 0 !important;
}
.Dropdown[data-v-e942e912] .v-label {
  top: 4px !important;
}
.Dropdown[data-v-e942e912] .v-input__append-inner {
  margin-top: 2px !important;
}

