
.list-move[data-v-651463ae] {
  transition: transform 0.2s;
}
.list-enter[data-v-651463ae], .list-leave-to[data-v-651463ae] {
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}
.list-leave-active[data-v-651463ae] {
  position: absolute;
}

