
.TimerInput[data-v-d1d718f0] input {
  text-align: center;
  font-size: 25px;
}


.Team[data-v-e95807c4] {
  padding: 2px 0;
}
.Team > *[data-v-e95807c4]:not(:last-child) {
  margin-right: 4px;
}
.Team[data-v-e95807c4] .v-btn {
  padding: 0 5px;
  min-width: 0;
}


.disabled[data-v-2289210e] {
  pointer-events: none;
  opacity: 0.5;
}
#Controls[data-v-2289210e] {
  padding-top: 10px;
}
#Controls > *[data-v-2289210e] {
  flex: 1;
}
#Controls > *[data-v-2289210e]:not(:first-child) {
  margin-left: 5px;
}
#Controls[data-v-2289210e] .v-btn {
  min-width: 0;
  width: 100%;
}

