@font-face {
    font-family: 'AmericanCaptain';
    src: url('../images/American%20Captain.otf');
    src: url('../images/American%20Captain.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#window-container {
    background-image: url('/view/speedcontrol/images/4_race_test.png');
    width: 1280px;
    height: 720px;
    overflow: hidden;
    color: white;
}

#timer {
    font-family: AmericanCaptain;
    font-size: 30px;
    position: absolute;
    top: 200px;
    left: 1000px;

}

#runner1InformationName {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 30px;
    left: 25px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/playerlogo.png');
    background-repeat: no-repeat;
}

#runner2InformationName {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 30px;
    left: 500px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/playerlogo.png');
    background-repeat: no-repeat;
}

#runner3InformationName {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 345px;
    left: 25px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/playerlogo.png');
    background-repeat: no-repeat;
}

#runner4InformationName {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 345px;
    left: 500px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/playerlogo.png');
    background-repeat: no-repeat;
}

#runner1InformationTwitch {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 30px;
    left: 75px;
    height: 25px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/twitchlogo.png');
    background-repeat: no-repeat;

}

#runner2InformationTwitch {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 30px;
    left: 550px;
    height: 25px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/twitchlogo.png');
    background-repeat: no-repeat;

}

#runner3InformationTwitch {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 345px;
    left: 75px;
    height: 25px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/twitchlogo.png');
    background-repeat: no-repeat;

}

#runner4InformationTwitch {
    font-family: AmericanCaptain;
    color: white;
    position: absolute;
    top: 345px;
    left: 550px;
    height: 25px;

    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/twitchlogo.png');
    background-repeat: no-repeat;

}

#runner1TimerFinished {
    color: white;
    position: absolute;
    top: 310px;
    left: 200px;
    font-family: AmericanCaptain;
    font-size: 15px;
}

#runner2TimerFinished {
    color: white;
    position: absolute;
    top: 310px;
    left: 700px;
    font-family: AmericanCaptain;
    font-size: 15px;
}

#runner3TimerFinished {
    color: white;
    position: absolute;
    top: 625px;
    left: 200px;
    font-family: AmericanCaptain;
    font-size: 15px;
}

#runner4TimerFinished {
    color: white;
    position: absolute;
    top: 625px;
    left: 700px;
    font-family: AmericanCaptain;
    font-size: 15px;
}

#positionDebug {
    position: absolute;
    background-color: black;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 20px;
    opacity: 0;
}

td.rowTitleGame {
    font-family: AmericanCaptain;
    font-size: 25px;
    width: 400px;
    color: white;
}

td.rowTitle {
    font-family: AmericanCaptain;
    font-size: 15px;
    width: 200px;
    color: white;
}

td.rowContent {
    font-family: AmericanCaptain;
    font-size: 15px;
    color: white;
    text-align: right;
}

td.rowTitlePlayer {
    font-family: AmericanCaptain;
    font-size: 20px;
    width: 200px;
    color: white;
}

td.rowContentPlayer {
    font-family: AmericanCaptain;
    font-size: 20px;
    color: white;
    text-align: right;
}

.editableObject {
    background: rgba(255,0,0,0.3);
}

#runInformationGameEstimate {
    font-family: AmericanCaptain;
    font-size: 20px;
    position: absolute;
    top: 500px;
    left: 700px;
}

#runInformationGameName{
    font-family: AmericanCaptain;
    font-size: 20px;
    position: absolute;
    top: 520px;
    left: 700px;
}

#runInformationGameSystem{
    font-family: AmericanCaptain;
    font-size: 20px;
    position: absolute;
    top: 540px;
    left: 700px;
}

#runInformationGameCategory{
    font-family: AmericanCaptain;
    font-size: 20px;
    position: absolute;
    top: 560px;
    left: 700px;
}
