@font-face {
    font-family: 'FFFForward';
    src: url('../images/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    overflow:hidden;
    margin: 0px;
    padding: 0px;
}
#window-container {
    background-image: url('/view/speedcontrol/images/Single_169.png');
    width: 1280px;
    height: 720px;
    overflow: hidden;
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

#playerContainer {
    position: absolute;
    width: 400px;
    height: 45px;
    top: 610px;
    display: flex;
    overflow: hidden;
}

#runner1Logo {
    background-image: url('/view/speedcontrol/images/playerlogo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


#runner1InformationName {
    font-family: FFFForward;
    color: #8d7996;
    background: rgba(255,255,255,0.1);
    line-height: 50px;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    padding-left: 15px;
    flex: 1;
}

#runInformationContainer {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 660px;
    display: flex;
    overflow: hidden;
}

#runInformationLogo {
    background-image: url('/view/speedcontrol/images/runInformationIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

#timerContainer {
    position: absolute;
    width: 412px;
    height: 100px;
    background: rgba(255,255,255,0.1);
    top: 613px;
    left: 435px;
}

#timer {
    position: relative;
    font-family: FFFForward;
    font-size: 35px;
    text-align: center;
    top: 5px;
}

#runInformationGameEstimate {
    position: relative;
    top: 5px;
    font-family: FFFForward;
    font-size: 15px;
    text-align: center;
    color: rgba(255,255,255,0.25);
}

#runInformationFields {
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    width: 400px;
    background: rgba(255,255,255,0.1);
    padding-left: 15px;
    flex: 1;
    overflow: hidden;
}

#runInformationGameName {
    font-family: FFFForward;
    font-size: 12px;
    text-align: left;
    color: #8d7996;
    width: 350px;
}

#runInformationGameCategory {
    font-family: FFFForward;
    font-size: 12px;
    text-align: center;
    color: #8d7996;
    width: 150px;
    text-align: left;
}

#runInformationGameSystem {
    font-family: FFFForward;
    font-size: 12px;
    text-align: center;
    color: #8d7996;
    width: 175px;
    text-align: right;
}

#marathonLogo {
    position: absolute;
    top: 615px;
    right: 40px;
    width: 263px;
    height: 121px;
    background-image: url('/view/speedcontrol/images/preEsaMarathonLogo.png');
    background-repeat: no-repeat;
    background-size: 80%;
}

#positionDebug {
    position: absolute;
    background-color: black;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 20px;
    opacity: 0;
}

#twitchField {
    padding-left: 35px;
    background-size: 25px 25px;
    background-image: url('/view/speedcontrol/images/twitchlogo.png');
    background-repeat: no-repeat;
}

.editableObject {
    background: rgba(255,0,0,0.3);
}

