
@font-face {
    font-family: 'FFFForward';
    src: url('../images/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow:hidden;
  margin: 0px;
  padding: 0px;

/* The font size you want at 720p.  Other sizes are calculated from here */

  font-size: 15px;
}

#window-container {
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    color: white;
    margin: 0px;
    padding: 0px;
}

.timer_paused {
  color: yellow;
}

.timer_running {
  color: rgb(255,255,255,0.7);
}

.timer_stopped {
  color: gray;
}

.timer_finished {
    color: rgba(0,127,0,1);
}

.editableObject {
    background: rgba(255,0,0,0.3);
}

.gameCapture {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00DD00;
    border: 3px solid #663366;
    line-height: 50px;
    text-align: center;
}

#runInformationGameEstimate:before {
  content: 'EST: ';
}

#runInformationGameEstimate:after {
  content: ':00';
}

.playerContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 33%;
    height: 7%;
    display: flex;
    overflow: hidden;
}

.runnerLogo {
    background-image: url('../images/playerlogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    width: 12%;
    height: 100%;
    vertical-align: middle;
}

.runnerInfo {
    font-family: FFFForward;
    color: #8d7996;
    background: rgba(255,255,255,0.1);
    line-height: 3.3em;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding-left: 15px;
    flex: 1;
}

#runInformationContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 31%;
    height: 7%;
    display: flex;
    overflow: hidden;
}

#runInformationFields {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.1);
    padding-left: 15px;
    flex: 1;
    overflow: hidden;
}

#runInformationGameEstimate {
    position: relative;
    top: 10%;
    font-family: FFFForward;
    font-size: 1em;
    text-align: center;
    color: rgba(255,255,255,0.25);
}

#runInformationGameName {
    font-family: FFFForward;
    font-size: .7em;
    text-align: left;
    color: #8d7996;
    width: 87.5%;
    white-space: nowrap;
}

#runInformationGameCategory {
    font-family: FFFForward;
    font-size: .7em;
    color: #8d7996;
    width: 38%;
    text-align: left;
    white-space: nowrap;
}

#runInformationGameSystem {
    font-family: FFFForward;
    font-size: .7em;
    color: #8d7996;
    width: 175px;
    text-align: right;
    white-space: nowrap;
}

#runInformationLogo {
    background-image: url('../images/runInformationIcon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 12%;
    height: 100%;
    vertical-align: middle;
}

.twitchLogo {
  width: 100%;
  height: 100%;
}

#timerContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 32%;
    height: 14%;
    background: rgba(255,255,255,0.1);
}

#timer {
    position: relative;
    font-family: FFFForward;
    font-size: 2.3em;
    text-align: center;
    top: 5px;
}

#marathonLogo {
    position: fixed;
    top: 0px;
    width: 316px;
    height: 88px;
    background-image: url('../images/SpeedcontrolLogo.png');
    background-repeat: no-repeat;
    background-size: 85%;
}

.runnerTimerFinishedContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    display: flex;
    color: white;
    font-family: FFFForward;
    font-size: 1em;
    height: 6%;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}

.runnerTimerFinished {
    height: 76%;
    line-height: 2.8em;
    padding-right: 5px;
    vertical-align: middle;
}

.finishedLogo {
    position: relative;
    width: 32px;
    height: 76%;
    padding: 5px;
    background-image: url('/graphics/nodecg-speedcontrol/images/finishFlag.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
}

#editModeButtons {
    display: flex;
    position: fixed;
    top: 2px;
    left: 1000px;
    height: 25px;
    width: 240px;
}

#positionDebug {
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 1.3em;
    opacity: 0;
    z-index: 200;
    width: 100%;
    height: 30px;
}
