@font-face {
    font-family: 'FFFForward';
    src: url('../images/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#window-container {
    background-image: url('../images/Intermission.png');
    width: 1280px;
    height: 720px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

#comingUp {
    font-family: FFFForward;
    color: #856899;
    font-size: 20px;
    text-align: right;
    padding-bottom: 15px;
    width: 400px;
}

#justMissed {
    font-family: FFFForward;
    color: #856899;
    font-size: 20px;
    padding-bottom: 15px;
    width: 400px;
}

#comingUpRun {
    position: absolute;
    font-family: FFFForward;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

#justMissedRun {
    position: absolute;
    font-family: FFFForward;
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    width: 400px;
}

#comingUpGame {
    padding: 2px;
    color: #856899;
    width: 400px;
    background: #362b41;
}

#comingUpSystem {
    padding-right: 5px;
    color: #856899;
    width: 100px;
    text-align: right;
    background: #271e2f;
}
#comingUpCathegory {
    padding: 2px;
    color: #856899;
    width: 220px;
    background: #271e2f;
}

#justMissedGame {
    padding: 2px;
    color: #856899;
    width: 400px;
    background: #362b41;
}

#justMissedSystem {
    padding-right: 5px;
    color: #856899;
    width: 100px;
    text-align: right;
    background: #271e2f;
}
#justMissedCathegory {
    padding: 2px;
    color: #856899;
    width: 220px;
    background: #271e2f;
}
