#runner1Logo {
    background-image: url('../images/playerlogoupleft.png');
}
#runner2Logo {
    background-image: url('../images/playerlogoup.png');
}
#runner3Logo {
    background-image: url('../images/playerlogoleft.png');
}
