<html>
<head>
    <link href="css/Intermission.css" rel="stylesheet"/>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="Intermission.js"></script>
    <script src="components/jQuery.Marquee/jquery.marquee.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>

    </style>
</head>
<body>
<div id="window-container">
    <div id="positionDebug">
        X: 100
        Y: 100
    </div>

    <div id="comingUpRun" class="positionable">
        <div id="comingUp" class="positionable">
            Coming up..
        </div>
        <div id="comingUpGame"> </div>
        <div id="comingUpCathegory"> </div>
        <div id="comingUpSystem"> </div>
        <div id="comingUpPlayer"> </div>
    </div>
    <div id="justMissedRun" class="positionable">
        <div id="justMissed" class="positionable">
            You just missed..
        </div>
        <div id="justMissedGame"> </div>
        <div id="justMissedCathegory"> </div>
        <div id="justMissedSystem"> </div>
        <div id="justMissedPlayer"> </div>
    </div>
    <div id="informationMarquee" class="positionable">
    </div>
</div>
</body>
</html>
