<html>
<head>
    <link href="css/Race_2player_16_9.css" rel="stylesheet"/>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="js/Race_2player_16_9.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
<div id="window-container">
    <div id="positionDebug">
        X: 100
        Y: 100
    </div>
    <div id="runner1TimerFinishedContainer" class="positionable">
        <div class="finishedLogo"></div>
        <div id="runner1TimerFinished" class="dummyTextable">
        </div>
    </div>
    <div id="runner2TimerFinishedContainer" class="positionable">
        <div class="finishedLogo"></div>
        <div id="runner2TimerFinished" class="dummyTextable">
        </div>
    </div>
    <div id="marathonLogo" class="positionable"> </div>
    <div id="player1Container" class="positionable">
        <div id="runner1Logo">
            <img id="twitchLogo1" src="/view/nodecg-speedcontrol/images/twitchlogo.png">
        </div>
        <div id="runner1InformationName">
        </div>
    </div>
    <div id="player2Container" class="positionable">
        <div id="runner2InformationName">
        </div>
        <div id="runner2Logo">
            <img id="twitchLogo2" src="/view/nodecg-speedcontrol/images/twitchlogo.png">
        </div>
    </div>
    <div id="timerContainer" class="positionable">
        <div id="timer">
        </div>
        <div id="runInformationGameEstimate">
        </div>
    </div>
    <div id="runInformationContainer" class="positionable">
        <div id="runInformationLogo">
        </div>
        <div id="runInformationFields">
            <div id="runInformationGameName">
            </div>
            <div id="runInformationGameCategory">
            </div>
            <div id="runInformationGameSystem">
            </div>
        </div>
    </div>
</div>
</body>
</html>
